.add-plan {
  background-color: $plan-color;
}

.add-plan-wrapper-order {
  width: 320px;
  margin: auto;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
  }
}

.add-plan__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    width: 618px;
    margin: auto;
    padding-top: 53px;
    padding-bottom: 56px;
  }

  @media (min-width: $desktop-width) {
    width: 1182px;
    padding-top: 55px;
    padding-bottom: 54px;
  }
}

.add-plan__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: $text-color;
  margin: 0;
  padding-top: 30px;
  padding-left: 25px;

  @media (min-width: $tablet-width) {
    padding: 0;
    font-size: 36px;
    line-height: 36px;
  }
}

.add-plan__slider-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 47px;
  margin: 0;
  padding-top: 30px;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    padding: 0;
    width: 76px;
  }
}

.add-plan__form {
  margin-left: 25px;
  margin-right: 25px;
  padding-bottom: 43px;

  @media (min-width: $tablet-width) {
    margin-left: 75px;
    margin-right: 75px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 60px;
    margin-right: 60px;
  }
}

.add-plan__step {
  background-color: $white-color;
  padding: 25px;
  margin-bottom: 10px;
  border-radius: 10px;

  @media (min-width: $tablet-width) {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 48px;
    padding-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 160px;
    padding-right: 160px;
    padding-top: 101px;
    padding-bottom: 106px;
  }
}

.add-plan__step-description {
  color: $dark-color;
  margin: 0;
  padding-bottom: 20px;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 20px;
    border-bottom: 1px solid $delimiter-color;
  }
}

.add-plan__step-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  color: $text-color;
  margin: 0;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 35px;
  }
}

.add-plan__slider-button {
  padding: 0;
  width: 5px;
  height: 5px;
  background-color: $text03-color;
  border: none;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 6px;
    height: 6px;
  }
}

.add-plan__slider-button__active {
  background-color: $text-color;
}
