.add-country {
  background-color: #edeff6;
}

.add-country__title {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $text-color;
}

/* .add-country__button {
}*/
