/*.alphabet__list {

}*/

/*.lphabet__item {

}*/

.alphabet__link {
  color: $text-color;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

/*.alphabet__countries-list {

}*/

.alphabet__countries-item {
  color: $dark-color;
}

.alphabet__button {
  font-weight: bold;
  line-height: 20px;
  text-transform: uppercase;
}
