.companion {
  background-color: $light-color;
  border-radius: 20px;
}

.companion__form {

}

.companion__title {
  color: $text-color;
  font-weight: bold;
  font-size: 22px;
}

.companion__fieldset {

}

.companion__fieldset-title {
  font-weight: bold;
  line-height: 18px;
  text-transform: uppercase;
  color: $text-color;
}

.companion__button {

}

.companion__list {

}

.companion__item {

}

.companion__control {
  font-size: 15px;
  line-height: 20px;
  color: $blak-color;
}

.companion__input{

}

.companion__mark{

}

.companion__level-wrapper{

}

.companion__level-label{

}

.companion__level-input{

}

.companion__level-range__scale{

}

.companion__level-range__bar{

}

.companion__level-range__button{

}

.companion__level-range__mini{

}

.companion__button-submit{
  background-color: $white-color;
  color: $auxiliary-color;
  font-weight: bold;
  font-size: 17px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 25px;
}

