.companion {
  background-color: $light-color;
  border-radius: 20px;
  width: 270px;
  margin: auto;

  @media (min-width: $tablet-width) {
    width: 688px;
  }
}

.companion__form {
  padding: 25px;

  @media (min-width: $tablet-width) {
    padding: 35px;
  }
}

.companion__title {
  color: $text-color;
  font-weight: bold;
  font-size: 22px;
  margin: 0;
  padding-bottom: 35px;
}

.companion__fieldset {
  position: relative;
  display: flex;
  border: none;
  border-top: 1px solid $trevelers-color;
  padding: 0;
  padding-top: 44px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    border: none;
    padding-top: 0;
  }
}

.companion__fieldset-title {
  position: absolute;
  top: 12px;
  left: 0;
  font-weight: bold;
  line-height: 18px;
  text-transform: uppercase;
  color: $text-color;

  @media (min-width: $tablet-width) {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
  }
}

.companion__button {
  position: absolute;
  width: 10px;
  height: 6px;
  top: 17px;
  right: -1px;
  background-image: url("../../img/icon_arrow_blue.svg");
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.companion__button-close {
  padding-top: 12px;
  padding-bottom: 28px;

  .companion__list {
    display: none;
  }

  @media (min-width: $tablet-width) {
    padding-top: 0;

    .companion__list {
      display: grid;
      padding-top: 0;
    }
  }
}

.companion__button-open {
  .companion__button {
    transform: rotate(180deg);
  }
}

.companion__list {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 126px;
  }
}


.profile__list-transport {
  padding-top: 26px;
  padding-bottom: 26px;
  padding-left: 73px;
  padding-right: 73px;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;


  @media (min-width: $tablet-width) {
    padding-left: 68px;
    padding-right: 68px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 106px;
    padding-right: 106px;
  }
}

.companion__item {
  list-style-type: none;
}

.companion__control {
  font-size: 15px;
  line-height: 20px;
  color: $blak-color;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

/*.companion__input{

}

.companion__mark{

}

.companion__level-wrapper{

}

.companion__level-label {

}

.companion__level-input {

}

.companion__level-range__scale {

}

.companion__level-range__bar {

}

.companion__level-range__button {

}

.companion__level-range__mini {

}*/

.companion__button-submit {
  background-color: $white-color;
  color: $auxiliary-color;
  font-family: inherit;
  font-weight: bold;
  font-size: 17px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 25px;
  padding-left: 71px;
  padding-right: 71px;
  padding-top: 14px;
  padding-bottom: 15px;
  border: none;

  @media (min-width: $tablet-width) {
    padding-left: 270px;
    padding-right: 270px;
  }
}

.companion__list-transport {
  width: 180px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
