.direction {
  padding-top: 71px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding-left: 75px;
    padding-right: 75px;
  }
}

.direction__order {
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
}

.direction__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 49px;
  padding-right: 55px;

  @media (min-width: $desktop-width) {
    align-items: flex-start;
    order: 2;
  }
}

.direction__title {
  color: $secondary-color;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  padding-bottom: 19px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 45px;
    line-height: 45px;
    padding-bottom: 57px;
  }
}

.direction__item-flag__thailand {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -39px;
    width: 35px;
    height: 24px;
    background-image: url("../../img/flag_thailand.jpg");
    background-repeat: no-repeat;
    border-radius: 3px;
  }
}

.direction__description {
  color: $dark-color;
  font-weight: 300;
  padding-bottom: 60px;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 378px;
    padding-bottom: 104px;
  }
}

.direction__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $desktop-width) {
    padding-right: 171px;
  }
}

.direction__item {
  width: 270px;
  background-color: $white-color;
  list-style-type: none;
  border-radius: 20px;

  @media (min-width: $tablet-width) {
    width: 618px;
  }

  @media (min-width: $desktop-width) {
    width: 559px;
  }
}

.direction__item-image {
  border-radius: 10px;
  z-index: 0;
}

.direction__item-thailand {
  width: 270px;
  height: 110px;
  background-image: url("../../img/thailand_mobile.jpg");
  background-repeat: no-repeat;
  border-radius: 10px;
}

.direction__item-title {
  color: $blak-color;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  margin: 0;
}

.direction__item-slogan {
  color: $dark-color;
  opacity: 0.3;
  margin: 0;
  grid-row: 2/3;
}

.direction__item-wrapper {
  background-color: $white-color;
  margin-top: -12px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px 0;
  padding: 25px;
  align-items: baseline;
}

.direction__item-amount {
  position: relative;
  color: $auxiliary-color;
  opacity: 0.3;
  margin: 0;
  margin-left: auto;

  &::before {
    content: "";
    position: absolute;
    left: -18px;
    top: 4px;
    width: 11px;
    height: 12px;
    background-image: url("../../img/icon_human.svg");
  }
}

.direction__button {
  position: relative;
  font-family: inherit;
  color: $text-color;
  background-color: $light-color;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  margin-top: 17px;
  margin-bottom: 34px;
  order: 1;
  padding-left: 23px;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-right: 142px;
  border-radius: 10px;
  border: none;

  &::before {
    content: "";
    position: absolute;
    top: 25px;
    left: 233px;
    width: 13px;
    height: 13px;
    background-image: url("../../img/icon_forward_arrow.svg");
    background-repeat: no-repeat;
  }
}
