.filter-country {
  background-color: $filter-color;
}

.filter-country__title {
  color: $text-secondary-color;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.filter-country__button {

}

.filter-country__wrapper {

}

.filter-country__list {

}

.filter-country__item {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: $text-secondary-color;
}

