.first-screen {
  background-color: $auxiliary-color;
}

.first-screen__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
}

/*.first-screen__wrapper-quote{

}

.first-screen__quote-text{

}*/

.first-screen__quote-copyright {
  font-weight: bold;
}

/*.first-screen__list{

}*/

.first-screen__item {
  color: $auxiliary-color;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
}

.first-screen__item-one {
  background-color: $secondary-color;
}

.first-screen__item-two {
  background-color: $secondary-two-color;
}

.first-screen__item-three {
  background-color: $special-color;
}

.first-screen__item-four {
  background-color: $light-color;
}

/*.first-screen__item-description{

}*/

.first-screen__item-number {
  color: $white-color;
}
