.interesting {
  background-color: $text-secondary-color;
}

/*.interesting__wrapper {

}*/

.interesting__title {
  color: $secondary-color;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
}

.interesting__description {
  font-weight: 300;
}

.interesting__login {
  color: $light-color;
}

/*.interesting__form {

}

.interesting__mailing-wrapper{

}

.interesting__mailing-field {

}

.interesting__mailing-button {

}*/

.interesting__questions {
  font-weight: 300;
}

/*.interesting__list {

}

.interesting__item {

}*/

.interesting__phone {
  color: $light-color;
  font-weight: bold;
  text-decoration: none;
}

.interesting__mail {
  color: $light-color;
  font-weight: bold;
  text-decoration: none;
}
