.main-navigation {
  background-color: $header-color;
}

/*.main-navigation__toggle {

}*/

.main-navigation__wrapper {
  background-color: $white-color;
}

/*.main-navigation__list {

}*/

.main-navigation__item {
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
}

.main-navigation__link {
  color: $text-secondary-color;
  text-decoration: none;
}

/*.main-navigation__login{

}*/

.main-navigation__login-item {
  color: $auxiliary-color;
  text-decoration: none;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}

/*.main-navigation__contacts{

}

.main-navigation__contacts-list{

}

.main-navigation__contacts-item{

}*/

.main-navigation__phone {
  font-weight: bold;
  line-height: 18px;
  text-decoration: none;
  color: $text-secondary-color;
}

.main-navigation__mail {
  font-weight: bold;
  line-height: 18px;
  text-decoration: none;
  color: $text-secondary-color;
}

/*.main-navigation__social-list{

}

.main-navigation__social-item{

}*/
