.people {

}

.people__list {

}

.people__item {
  background-color: $white-color;
}

.people__name__wrapper {

}

.people__photo {

}

.people__name {
  color: $text-color;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
}

.people__like {
  color: $auxiliary-color;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}

.people__tags__wrapper {

}

.people__tags__list {

}

.people__tags__item {

}

.people__tags__text {
  font-size: 15px;
  line-height: 18px;
  color: $dark-color;
}

.eople__country__wrapper {

}

.people__title {
  font-size: 15px;
  line-height: 16px;
  color: $dark-color;
}

.people__country__list {

}

.people__country__item {

}

.people__country__name {
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  color: $text-color;
}

.people__transport__wrapper {

}

.people__transport__list {

}

.people__transport__item {

}

.people__level__wrapper {

}

.people__level {

}

.people__level__text {
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: $text-color;
}

.people__show-more {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  color: $text-color;
}

.people__pages-list {

}

.people__pages-item {

}

.people__pages-link__previous {

}

.people__pages-link__next {

}

.people__button{
  background-color: $light-color;
  border-radius: 25px;
  color: $auxiliary-color;
  font-weight: bold;
  font-size: 17px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
}
