.route {
  background-color: $light-color;
}

.route__wrapper-address {

}

.route__address {
  color: $text-color;
  font-weight: bold;
}

.route__wrapper-link {

}

.route__link {
  text-decoration: none;
  color: $text-color;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
}

.route__wrapper-map {

}
