.service {
  background-color: $text-secondary-color;
}

.service__wrapper {

}

.service__title {
  color: $secondary-color;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
}

.service__description {
  font-weight: 300;
}

.service__slogan {
  font-weight: bold;
}

.service__button {

}

