.services {
  background-color: $add-country;
  margin-top: -30px;
  position: relative;
  border-radius: 0 0 20px 20px;
}

.services__wrapper {
  width: 245px;
  padding-top: 83px;
  padding-left: 25px;
  padding-bottom: 38px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  z-index: 3;


  @media (min-width: $tablet-width) {
    width: 688px;
    padding-top: 135px;
    padding-bottom: 85px;
    padding-left: 0;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    width: 1180px;
    padding-bottom: 187px;
    padding-top: 205px;
  }
}

.services__photo {
  color: $secondary-color;
  position: relative;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  width: 107px;
  margin: 0;
  margin-bottom: 43px;

  &::before {
    content: "";
    position: absolute;
    right: -140px;
    top: -14px;
    width: 100px;
    height: 100px;
    background-image: url("../../img/rates_mobile.png");
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/rates_mobile@2x.png");
      background-size: 100px auto;
      background-repeat: no-repeat;
    }
  }

  @media (min-width: $tablet-width) {
    width: 482px;
    font-weight: bold;
    font-size: 45px;
    line-height: 45px;

    &::before {
      right: -60px;
      top: 315px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 134px;

    &::before {
      content: "";
      position: absolute;
      right: -275px;
      top: 185px;
      width: 198px;
      height: 198px;
      background-image: url("../../img/rates_desktop.png");
      background-repeat: no-repeat;
      z-index: 11111;

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/rates_desktop@2x.png");
        background-size: 198px auto;
        background-repeat: no-repeat;
      }
    }
  }
}

.services__list {
  padding: 0;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding-left: 40px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: flex-start;
    width: 1080px;
  }
}

.services__delimiter {
  width: 200px;
  height: 1px;
  background-color: $delimiter-color;
  border: none;
  margin-left: 0;
  margin-bottom: 12px;
  margin-top: -20px;

  @media (min-width: $tablet-width) {
    width: 560px;
    margin: 0;
    padding: 0;
    margin-left: 92px;
  }
}

.services__item {
  display: grid;
  grid-template-columns: 183px 34px;
  gap: 6px 28px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 68px 400px 198px;
    gap: 22px;
    padding: 0;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
  }
}

.services__number {
  font-size: 16px;
  line-height: 13px;
  grid-column: 2/3;
  margin-top: -9px;
  margin-bottom: 9px;
  border-radius: 50%;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 10px;
  padding-bottom: 11px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/2;
    font-size: 28px;
    line-height: 28px;
    min-height: 68px;
    margin: 0;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 68px;
  }
}

.services__number--one {
  background-color: $secondary-color;
}

.services__number--two {
  background-color: $special-color;
}

.services__number--three {
  background-color: $light-color;
}

.services__service {
  color: $dark-color;
  min-height: 34px;
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  margin: 0;
  grid-column: 1/2;
  grid-row: 1/2;

  @media (min-width: $tablet-width) {
    font-weight: 300;
    font-size: 28px;
    line-height: 28px;
    grid-column: 2/3;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
    display: block;
  }
}

.services__price {
  color: $dark-color;
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  margin-top: -17px;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    position: relative;
    font-weight: 300;
    font-size: 28px;
    line-height: 28px;
    grid-column: 3/4;
    margin: 0;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 446px;
    min-height: 67px;
    background-color: $filter-color;

    &::before {
      content: "";
      position: absolute;
      height: 51px;
      width: 446px;
      background-color: $filter-color;
      top: -50px;
      border-radius: 20px 20px 0 0;
      z-index: -1;
    }

    &::after {
      content: "";
      position: absolute;
      height: 51px;
      width: 446px;
      background-color: $filter-color;
      top: 50px;
      border-radius: 0 0 20px 20px;
      z-index: -1;
    }
  }
}

.services__tariffs {
  text-decoration: none;
  color: $link-color;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    position: relative;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    margin-top: 59px;
    padding-right: 210px;


    &::before {
      position: absolute;
      content: "";
      top: -20px;
      left: -90px;
      width: 68px;
      height: 68px;
      background-color: $filter-color;
      background-image: url("../../img/icon_businessman.svg");
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 50%;
    }
  }

  @media (min-width: $desktop-width) {
    padding-right: 623px;
  }
}

.services__business {
  display: none;
}
