.service {
  position: relative;
  padding-top: 39px;
  padding-bottom: 82px;
  margin-top: -1px;
  background: url("../../img/about_mobile.png") 80% 0 no-repeat,
    url("../../img/back_about_mobile.png") 0 0 no-repeat,
    $text-secondary-color;
  border-radius: 0 0 40px 40px;
  margin-bottom: -40px;
  z-index: 10;

  @media (min-resolution: 2dppx) {
    background: url("../../img/about_mobile@2x.png") 80% 80% no-repeat,
      url("../../img/back_about_mobile@2x.png") 0 0 no-repeat,
      $text-secondary-color;
    background-size: 292px auto, 113px auto, auto;
  }

  @media (min-width: $tablet-width) {
    padding-top: 41px;
    background: url("../../img/about_tablet.png") 95% 40% no-repeat,
      url("../../img/back_about_tablet.png") 50% 0 no-repeat,
      $text-secondary-color;

    @media (min-resolution: 2dppx) {
      background: url("../../img/about_tablet@2x.png") 95% 40% no-repeat,
        url("../../img/back_about_tablet@2x.png") 50% 0 no-repeat,
        $text-secondary-color;
      background-size: 376px auto, 688px auto, auto;
    }
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 163px;
    padding-top: 80px;
    background: url("../../img/about_desktop.png") 95% 40px no-repeat,
      url("../../img/back_about_desktop.png") 5% 40px no-repeat,
      $text-secondary-color;

    @media (min-resolution: 2dppx) {
      background: url("../../img/about_desktop@2x.png") 95% 40px no-repeat,
        url("../../img/back_about_desktop@2x.png") 5% 40px no-repeat,
        $text-secondary-color;
      background-size: 630px auto, 212px auto, auto;
    }
    margin-top: -40px;
  }
}

.service__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 211px;
  padding-left: 49px;
  padding-right: 60px;
  margin: auto;

  @media (min-width: $tablet-width) {
    align-items: flex-start;
    padding-left: 0;
    padding-right: 310px;
    width: 308px;
    margin: auto;
  }

  @media (min-width: $desktop-width) {
    align-items: flex-start;
    width: 1180px;
    margin: auto;
    padding: 0;
  }
}

.service__title {
  color: $secondary-color;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  padding-bottom: 19px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 45px;
    line-height: 45px;
    padding-bottom: 40px;
  }
}

.service__description {
  font-weight: 300;
  padding-bottom: 20px;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 308px;
    padding-bottom: 31px;
  }

  @media (min-width: $desktop-width) {
    width: 619px;
    padding-bottom: 38px;
  }
}

.service__slogan {
  font-weight: bold;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 265px;
    padding-bottom: 52px;
    font-size: 21px;
    line-height: 25px;
  }

  @media (min-width: $desktop-width) {
    width: 425px;
    padding-bottom: 85px;
  }
}

.service__button {
  display: block;
  position: relative;
  font-family: inherit;
  color: $text-color;
  background-color: $light-color;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  order: 1;
  padding-left: 23px;
  padding-top: 29px;
  padding-bottom: 27px;
  padding-right: 142px;
  border-radius: 20px;
  border: none;

  &::before {
    content: "";
    position: absolute;
    top: 33px;
    left: 227px;
    width: 14px;
    height: 14px;
    background-image: url("../../img/icon_forward_arrow.svg");
    background-repeat: no-repeat;
  }

  @media (max-width: $mobile-width-only) {
    display: none;
  }
}
