/*.services {

}*/

.services__photo {
  color: $secondary-color;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
}

/*.services__list {

}

.services__item {

}

.services__number {

}*/

.services__service {
  color: $dark-color;
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
}

.services__price {
  color: $dark-color;
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
}

.services__tariffs {
  text-decoration: none;
  color: $link-color;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
}

/*.services__business{

}*/
