.step-one {
}

.step-one__wrapper {

}

.step-one__subtitle {
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
  color: $text-color;
}

.step-one__designation {
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
  color: $text-color;
  opacity: 0.3;
}

.step-one__wrapper-input {

}

.step-one__smaller {

}

.step-one__number {

}

.step-one__more {

}

.step-one__checkbox {

}

.step-one__children {

}

.step-one__text {
  font-size: 15px;
  line-height: 15px;
  color: $text-color;
}

.step-one__calendar-wrapper {

}

.step-one__month {

}

.step-one__previous-slide {

}

.step-one__current-month {
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  color: $text-color;
}

.step-one__next-slide {

}

.step-one__list {

}

.step-one__item {
  font-size: 14px;
  line-height: 18px;
  color: $dark-color;
}

.step-one__item-holiday {
  color: $holiday-color;
}

.step-one__date-list {

}

.step-one__date-item {

}

.step-one__date {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: $text-color;
}

.step-one__next-step__wrapper{
  background-color: $light-color;
}

.step-one__next-step {
  text-decoration: none;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  color: $text-color;
}
