/*.step-three {

}*/

.step-three__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 9px;
  margin-top: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 38px;
    margin-right: 35px;
  }
}

.step-three__title {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: $text-color;
  padding-left: 10px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 30px;
  }
}

.step-three__image {
  @media (min-width: $tablet-width) {
    width: 70px;
    height: 47px;
  }
}

.step-three__form {
  width: 220px;
  height: 220px;

  @media (min-width: $tablet-width) {
    width: 500px;
    height: 142px;
  }
}

.step-three__plan {
  height: 188px;
  width: 188px;
  padding: 15px;
  border: 1px solid $border-color;
  border-radius: 4px;
  resize: none;

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    display: block;
    width: 500px;
    height: 110px;
  }
}

.step-three__next-step {
  background-color: $light-color;
  text-decoration: none;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  color: $text-color;
  padding: 8px 70px;
  border-radius: 20px;

  @media (min-width: $tablet-width) {
    position: relative;
    padding-left: 34px;
    padding-top: 29px;
    padding-bottom: 27px;
    padding-right: 139px;
    font-size: 24px;
    line-height: 24px;
    text-transform: none;

    &::before {
      content: "";
      position: absolute;
      top: 33px;
      left: 227px;
      width: 14px;
      height: 14px;
      background-image: url("../../img/icon_forward_arrow.svg");
      background-repeat: no-repeat;
    }
  }
}

.step-three__next-step__wrapper {
  margin-top: 23px;


  @media (min-width: $tablet-width) {
    margin-top: 22px;
    margin-bottom: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.step-three__back-step {
  display: block;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  color: $text-color;
  text-decoration: none;
  width: 220px;
  text-align: center;
  margin-top: 13px;

  @media (min-width: $tablet-width) {
    text-transform: none;
    position: relative;
    text-align: end;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;

    &::before {
      content: "";
      position: absolute;
      top: 5px;
      left: 20px;
      width: 14px;
      height: 14px;
      background-image: url("../../img/icon_forward_arrow.svg");
      background-repeat: no-repeat;
      transform: rotate(180deg);
    }
  }
}

.step-three__decorative {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -275px;
    left: -15px;
    width: 19px;
    height: 288px;
    background-image: url("../../img/form_decorative_element.png");
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    &::before {
      top: -254px;
      left: 515px;
      width: 19px;
      height: 280px;
      background-image: url("../../img/form_decorative_element_tablet.png");
      background-repeat: no-repeat;
    }
  }
}
