.step-three {

}

.step-three-wrapper {

}

.step-three__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  color: $text-color;
}

.step-three__image {

}

.step-three__form {

}

.step-three__plan {

}

.step-three__next-step {
  text-decoration: none;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  color: $text-color;
}

.step-three__next-step__wrapper {
  background-color: $light-color;
}

.step-three__back-step {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  color: $text-color;
  text-decoration: none;
}
