.travelers {
  background-color: $text-secondary-color;
}

.travelers__wrapper {

}

.travelers__title {
  color: $secondary-color;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
}

.travelers__description {
  font-weight: 300;
}

.travelers__slogan {
  font-weight: bold;
}

.travelers__list {

}

.travelers__item {

}

.travelers__button{

}
