$main-color:#e5e5e5;
$auxiliary-color:#161c35;
$light-color: #ffd74b;
$special-color: #ffbd30;
$modal-color: #dfe3f0;
$dark-color: #444444;
$text-color: #1d2e5b;
$secondary-color: #ff8d30;
$secondary-two-color: #ffa530;
$white-color: #ffffff;
$header-color: #182044;
$text-secondary-color: #192144;
$blak-color: #000000;
$link-color: #132576;
$filter-color:#e2e5f2;
$plan-color:#d4d9eb;
$holiday-color:#ff5c23;
$add-country: #edeff6;

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
