$main-color:#e5e5e5;
$auxiliary-color:#161c35;
$auxiliary03-color:rgba(22, 28, 53, 0.3);
$light-color: #ffd74b;
$special-color: #ffbd30;
$modal-color: #dfe3f0;
$dark-color: #444444;
$text-color: #1d2e5b;
$text03-color: rgba(29, 46, 91, 0.3);
$secondary-color: #ff8d30;
$secondary-two-color: #ffa530;
$white-color: #ffffff;
$header-color: #182044;
$text-secondary-color: #192144;
$blak-color: #000000;
$blak06-color: rgba(0, 0, 0, 0.6);
$link-color: #132576;
$filter-color:#e2e5f2;
$plan-color:#d4d9eb;
$holiday-color:#ff5c23;
$add-country: #edeff6;
$close-color: #cccccc;
$obscure-color: #121936;
$not-available-color: #f97676;
$available-color: #81e31e;
$delimiter-color: #e1e3e9;
$services-color:#e6e8f1;
$fled-text-color: rgba(68, 68, 68, 0.3);
$delimiter-footer-color: #f2f2f2;
$border-color: #cbced9;
$chapter-color: #d6d9e6;
$trevelers-color: #f3c72b;
$heart-color: #f9efea;
$desktop-color: #161c34;
$close-link-color: #f3f4f8;
$shadow-color: rgba(29, 46, 91, 0.18);
$shadow-alphabet: rgba(212, 217, 235, 0.25);
$shadow-tablet-alphabet: rgba(54, 80, 148, 0.18);

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
$min-resolution: 2dppx;
